<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="margin-top: 20px;">
    <a class="navbar-brand" href="#"><h2>SmartList</h2></a>
    <div id="navbarNavAltMarkup" style="display: flex; justify-content: space-between;">
      <div>
        <button type="button" class="btn btn-outline-dark">LOG IN</button> <button type="button" class="btn btn-dark">START FREE</button>
      </div>
    </div>
  </nav>
</header>
