<!DOCTYPE html>
<html lang="en">

<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  <!-- Bootstrap CSS -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>smartList</title>
</head>

<body>
  <%- include("partials/_header") %>
    <div class="text-center" style="margin-top: 100px;">
      <form method="POST" action="">
        <input class="justify-content-center" type="text" placeholder="Something you'd like to add"
          style="width: 450px;margin: 1em;padding-top: 0.5;height: 60.99306px;">
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <!--we dont need to display the following, but we could try to make it work if time allow-->
    <!-- <div class="card-content-top">
    <div>
      <a>
        <img src="/views/image/HarryPotterBook.png"/>
      </a>
    </div>
  </div> -->
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</body>

</html>
