// See: https://sass-lang.com/

body {
  background-color: #c6dfd6;
  margin-left: 100px;
  margin-right: 100px;

  h1 {
    color: black;
  }
}

header {
  display: flex;
  justify-content: flex-end;
}

.navbar-brand {
  font-family: 'Ultra', serif;
  color: black;
  font-size: 38px;
}

.user1 {
  font-size: x-large;
  font-style: italic;
}

.container {
  margin-top: 0px;
  background-color: white;
}

.text-center {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}

.lists-body {
  display: flex;
  justify-content: flex-start;
}

// input[type=checkbox]:checked + label {
//   color:black;
//   text-decoration: line-through;
// }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  // grid-template-columns: 50px, 50px, 50px, 50px;
  grid-gap: 10rem;
  border-radius: 50px;
  // border: 3px solid #BADA55;
}

.grid img {
  margin-top: 120px;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 5px;
  width: 200px;

}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

